@model TablicaOgloszen.Models.PostDetails

<div class="" asp-validation-summary="All"></div>
@if (Model != null)
{
    string text = "";
    @if (Model.Post.Deleted == true) { text = "border:solid 3px red"; } else { text = ""; }
    <div class="container mt-5 mb-5">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-10">
                <div class="card" style="@text">
                    <div class="d-flex justify-content-between p-2 px-3">
                        <div class="d-flex flex-row align-items-center">
                            <img src="https://i.imgur.com/tdi3NGa.jpg" width="50" class="rounded-circle">
                            <div class="d-flex flex-column m-2">
                                <span class="font-weight-bold">
                                    <b>
                                        <a class="text-decoration-none text-black" asp-controller="User" asp-action="Details" asp-route-id="@Model.Owner.Id">@Model.Owner.UserName</a>
                                    </b>
                                </span>
                                <small class="text-primary">
                                    <a asp-action="Details" asp-route-id="@Model.Post.Id">
                                        @Model.Post.Title
                                    </a>
                                </small>
                            </div>
                        </div>
                        <div class="d-flex flex-row mt-1 ellipsis">
                            <div class="d-flex flex-column justify-content-start align-items-center">
                                <ul class="ratings d-flex flex-row justify-content-start align-items-center" style="list-style:none;margin:0;padding:0;">
                                    @{
                                        int rate = Model.myRating.Value;
                                        for (int i = 1; i <= 5; i++)
                                        {
                                            if (rate > 0)
                                            {
                                                <li><a asp-action="AddRating" asp-route-Id="@Model.Post.Id" asp-route-Value="@i"><i class="bi bi-star-fill"></i></a></li>
                                                rate -= 1;
                                            }
                                            else
                                            {
                                                <li><a asp-action="AddRating" asp-route-Id="@Model.Post.Id" asp-route-Value="@i"><i class="bi bi-star"></i></a></li>
                                            }
                                        }
                                    }
                                </ul>
                                <div class="review-count">średnia: @TablicaOgloszen.Services.DateConventerService.NumberConvert(Model.AvgRating)</div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <p class="text-justify">
                            @Model.Post.Text
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-row"> <span>Data dodania: @TablicaOgloszen.Services.DateConventerService.DateConvert(Model.Post.Date)</span> </div>
                            <div class="d-flex flex-row"> <span>Ilość komentarzy: @Model.CommentsCount</span> </div>
                        </div>
                        <div class="d-flex flex-row">
                            @if (Model.Post.Deleted == true)
                            {
                                <span>Usunięty przez: <a asp-controller="User" asp-action="Details" asp-route-Id="@Model.Post.ModedBy">@Model.Post.ModedBy</a></span>
                            }
                        </div>
                        <hr>
                        <div class="muted-color">
                            Tags:
                            @foreach (var tag in Model.Tags)
                            {
                                <small class="comment-text">#@tag.Text</small>@(" ")
                            }
                        </div>
                        <hr>
                        <div class="comments">
                            <span>
                                <a asp-controller="Comment" asp-action="Create" asp-route-id="@Model.Post.Id" class="btn btn-primary">Dodaj komentarz</a>
                            </span>
                            <span>
                                <a asp-controller="Comment" asp-action="Index" asp-route-id="@Model.Post.Id" class="btn btn-secondary">Komentarze</a>
                            </span>
                            <div class="d-flex flex-column mb-2">
                                @foreach (var comment in Model.Comments)
                                {
                                    <div class="d-flex flex-row mb-2">
                                        <div class="ml-2">
                                            @*<a class="text-decoration-none text-black" asp-controller="User" asp-action="Details" asp-route-id="@comment.Users_Id"><span class="name">JAKAŚ NAZWA</span></a>
                                                <span class="comment-text"> - @comment.Date </span>*@
                                            <span class="comment-text"> - @comment.Text </span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <hr>
                        <div class="container-fluid p-0">
                            <span>Opcje:</span>
                            @inject TablicaOgloszen.Services.MyPermissionsManagerService per
                            @{
                                await per.getPermissions(User);
                                if (per.permissions.Id.Equals(Model.Owner.Id))
                                {
                                    <span>
                                        <a asp-action="Edit" asp-route-id="@Model.Post.Id" class="btn btn-warning">Edytuj</a>
                                    </span>
                                    <span>
                                        <a asp-action="Delete" asp-route-id="@Model.Post.Id" class="btn btn-danger">Usuń</a>
                                    </span>
                                    <span>
                                        <a asp-controller="Post" asp-action="Tags" asp-route-id="@Model.Post.Id" class="btn btn-primary">zarządzaj Tagami</a>
                                    </span>
                                }
                                if (per.permissions.Level >= PermissionsRole.Moderator)
                                {
                                    <span>
                                        <a asp-action="Delete" asp-route-id="@Model.Post.Id" class="btn btn-danger">Usuń jako moderator</a>
                                    </span>
                                }
                                if (per.permissions.Level >= PermissionsRole.Administrator)
                                {
                                    <span>
                                        <a asp-controller="Post" asp-action="Tags" asp-route-id="@Model.Post.Id" class="btn btn-primary">zarządzaj Tagami</a>
                                    </span>
                                    <span>
                                        <a asp-action="Edit" asp-route-id="@Model.Post.Id" class="btn btn-warning">Edytuj jako admin</a>
                                    </span>
                                }
                                <span>
                                    <a asp-action="Report" asp-route-id="@Model.Post.Id" class="btn btn-danger">Zgłoś</a>
                                </span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
