@model List<TablicaOgloszen.Models.PostIndex>

<div class="" asp-validation-summary="All"></div>
@if (Model != null)
{
    <div class="container mt-5 mb-5 text-center">
        <a asp-action="Create" type="button" class="btn btn-primary">Dodaj Ogłoszenie</a>
    </div>

    <form class="form-control" method="get" asp-action="Index">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Filtruj według zawartości:</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="txt">
            <label for="exampleInputEmail1" class="form-label">Filtruj według tagu:</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="tag">
            <label for="exampleInputEmail1" class="form-label">Filtruj według autora:</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="author">
        </div>


    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Sortuj wedlug</label>
        <select name="sort"  class="form-control">
            <option value="datedesc">Data od najnowszego do najstarszego</option>
            <option value="dateasc">Data od najstarszego do najnowszego</option>
            <option value="ratingasc">Ocena od najwyższej do najniższej</option>
            <option value="ratingdesc">Ocena od najniższej do najwyższej</option>
            <option value="commentdesc">Liczba komentarzy: Dużo-mało</option>
            <option value="commentasc">Liczba komentarzy: Mało-dużo</option>
        </select>
        </div>
    <button type="submit" class="btn btn-primary">Sortuj</button>
    </form>

    @foreach (var item in Model)
    {
        string text = "";
        @if (item.post.Deleted == true) { text = "border:solid 3px red"; } else { text = ""; }
        <div class="container mt-5 mb-5">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-10">
                    <div class="card" style="@text">
                        <div class="d-flex justify-content-between p-2 px-3">
                            <div class="d-flex flex-row align-items-center">
                                <img src="https://i.imgur.com/tdi3NGa.png" width="50" class="rounded-circle">
                                <div class="d-flex flex-column m-2">
                                    <span class="font-weight-bold" style="font-size:120%;">
                                        <b><a class="text-decoration-none text-black" asp-action="Details" asp-route-id="@item.post.Id">
                                            @item.post.Title
                                        </a></b>
                                    </span>
                                    <small class="text-primary">
                                        By: <a asp-controller="User" asp-action="Details" asp-route-id="@item.Owner.Id">@item.Owner.UserName</a>
                                    </small>
                                </div>
                            </div>
                            <div class="d-flex flex-row ellipsis">
                                @inject TablicaOgloszen.Services.MyPermissionsManagerService per
                                @{
                                    await per.getPermissions(User);
                                    if (per.permissions.Level >= PermissionsRole.Moderator)
                                    {
                                        @if (item.post.Pinned)
                                        {
                                            <a asp-action="PinTogggle" asp-route-Id="@item.post.Id">
                                                <i class="bi bi-pin-fill"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="PinTogggle" asp-route-Id="@item.post.Id">
                                                <i class="bi bi-pin"></i>
                                            </a>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <div class="p-2">
                            <p class="text-justify">
                                @item.post.Text
                            </p>
                            <hr>
                            <div class="d-flex justify-content-between align-items-center muted-color">
                                <div class="d-flex flex-row"> <span>Data dodania: @TablicaOgloszen.Services.DateConventerService.DateConvert(item.post.Date)</span> </div>
                            </div>
                            <hr>
                            <div class="comments">
                                Najnowsze Komentarze:
                                @foreach (var comment in item.Comments)
                                {
                                    <div class="d-flex flex-row mb-2">
                                        <div class="ml-2">
                                            <span class="comment-text"> - @comment.Text </span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
}
