@model TablicaOgloszen.Models.UserDetails

<h1>Profil Użytkownika</h1>
<div asp-validation-summary="All"></div>
@if (Model != null)
{
    <div class="col">
        <div class="card h-100">
            <h5 class="card-header">@Model.UserName</h5>
            <div class="card-body">
                <p class="card-title">Id: @Model.Id</p>
                <p class="card-text">Email: @Model.Email</p>
                <p class="card-text">Phone number: @Model.PhoneNumber</p>
                <p class="card-text">Ban: @Model.Ban</p>
                <p class="card-text">
                    Roles:
                    @*@inject Microsoft.AspNetCore.Identity.UserManager<PortalOgloszeniowy.Models.User> userManager
                        @foreach (var role in await userManager.GetRolesAsync(await userManager.FindByNameAsync(Model.UserName)))
                        {
                            <span>@role,</span>
                        }*@
                </p>
                <p class="card-text">
                    Posty:
                    @if (Model.Posts != null)
                        @foreach (var obj in Model.Posts)
                        {
                            <a asp-controller="Post" asp-action="Details" asp-route-id="@obj.Id">@obj.Title</a>@(", ")
                        }
                </p>
                <p class="card-text">
                    Komentarze:
                    @if (Model.Comments != null)
                        @foreach (var obj in Model.Comments)
                        {
                            <a asp-controller="Comment" asp-action="Index" asp-route-id="@obj.Posts_Id">@obj.Text</a>@(", ")
                        }
                </p>
            </div>
            <div class="card-footer">
                <span>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-Id="@Model.Id">EDYTUJ</a>
                </span>
                <span>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-Id="@Model.Id">USUN</a>
                </span>
            </div>
        </div>
    </div>
}