@model List<TablicaOgloszen.Models.User>

<h1> Użytkownicy </h1>
@if (Model != null)
{
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <a asp-action="Details" asp-route-id="@item.Id"><h5 class="card-header">@item.UserName</h5></a>
                    <div class="card-body">
                        <p class="card-title">Id: @item.Id</p>
                        <p class="card-text">Name: @item.UserName</p>
                        <p class="card-text">Email: @item.Email</p>
                        <p class="card-text">Phone number: @item.PhoneNumber</p>
                        <p class="card-text">
                            Roles:

                        </p>
                        <p class="card-text">Ban: @item.Ban</p>
                        <p class="card-text">Moded By: @item.ModedBy</p>
                    </div>
                    <div class="card-footer">
                        <span>
                            <a asp-action="Ban" asp-route-name="@item.UserName" class="btn btn-danger">Zablokuj</a>
                        </span>
                        <span>
                            <a asp-action="Unban" asp-route-name="@item.UserName" class="btn btn-warning">Odblokuj</a>
                        </span>

                        <span>
                            <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-warning">Edytuj</a>
                        </span>
                        <span>
                            <a asp-action="ModGrant" asp-route-name="@item.UserName" class="btn btn-primary">Grant Moderator</a>
                        </span>
                        <span>
                            <a asp-action="ModRevoke" asp-route-name="@item.UserName" class="btn btn-secondary">Revoke Moderator</a>
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
}
